@import '../../../styles/palette';

.nav-item-small {
	display: inline-block;
	width: 100%;
	text-align: left;
	cursor: pointer;
	font-size: 1.5em;
	&.nav-item-active {
		font-weight: bold;
	}
}

.nav-item-left {
	float: left;
}

.nav-item-right {
	float: right;
}

.nav-item-padding-left {
	padding-left: 20px;
}
