@import '../../../styles/palette';

.nav-item-small {
	display: inline-block;
	width: 100%;
	text-align: left;
	cursor: pointer;
	font-size: 1.5em;
	&.nav-item-active {
		font-weight: bold;
	}
}

.nav-item-left {
	float: left;
}

.nav-item-right {
	float: right;
}

.nav-item-padding-left {
	padding-left: 20px;
	display: block;
	margin: 1em 0em 1em 0em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

// have to override the react icons to get them to float right
.nav-item-padding-left > div {
	display: flex !important;
	justify-content: space-between !important;
	padding-right: 20px;
}
