@import '../../styles/palette';

/* Links inside the dropdown */
.dropdown-item {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-item:hover,
.dropdown-active {
	cursor: pointer;
	color: black;
	background-color: @background-dark;
}

.dropdown-item:focus {
	color: black;
	outline: none;
}
