@import '../../palette';

@nav-bar-height: 41px;
@animation-time: .25s;

.nav-bar {
	position: relative;
	z-index: 1;
}

.chevron-container {
	position: relative;
	background: @background;
	// padding-bottom: 5px;
	z-index: 1
}

.menu-small-down {
	animation: menu-slide-down @animation-time forwards;
}

.menu-small-up {
	animation: menu-slide-up @animation-time forwards;
}

@keyframes menu-slide-down {
	from {
		margin-top: -250%;
	}
	to {
		margin-top: 0%;
	}
}

@keyframes menu-slide-up {
	from {
		margin-top: 0%;
	}
	to {
		margin-top: -250%;
	}
}

.nav-bar-icon-up {
	animation: icon-rotate-up @animation-time forwards;
}

.nav-bar-icon-down {
	animation: icon-rotate-down @animation-time forwards;
}

@keyframes icon-rotate-up {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

@keyframes icon-rotate-down {
	from {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	to {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

// semantic UI icon and menu overrides
#chevron-menu-small {
	background: none;
}

.ui.basic.button {
	margin-top: 10px;
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}

	&:focus {
		box-shadow: none;
	}

	&:active {
		background: none !important;
		box-shadow: none;
	}

	&:visited {
		box-shadow: none;
	}
}

.ui[class*='top attached'].menu {
	margin-top: 0;
}

.ui.attached.menu:not(.tabular) {
	border: 0;
	border-bottom: 1px solid @background-dark;
}

.ui.vertical.menu.menu-small {
	width: 100%;
	// height: -moz-calc(100% - 50px);
	// height: -webkit-calc(100% - 50px);
	// height: -o-calc(100% - 50px);
	height: ~"calc(100% - @{nav-bar-height})";
	background: blue;
}
